@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: Noto Sans JP, sans-serif;
}
.nav {
    position: fixed;
    z-index: 100;
    box-shadow: rgb(0 0 0 /12%) 0 6px 16px;
    background-color: white;
    padding: 30px;
    width: 100%;
    top: 0;
}

.logo {
    width: 130px;
    height: 40px;
    background-image: url("../images/airbnb-logo.png");
    background-size: 130px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    padding-top: 100px;
}
.section {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 60%;
}

.price-box {
    width: 35%;
    height: 250px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0 6px 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(135deg, rgb(255, 56, 92) 20%, rgb(189, 30, 89));
}

.images-section {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    max-height: 340px;
}

.main-image {
    width: 50%;
    overflow: hidden;
    max-height: 540px;
}
.main-image img {
    width: 100%;
}
.main {
    display: flex;
    flex-direction: row;
}

.feed-container {
    width: 50%;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    padding-top: 100px;
}

.feed {
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 47%;
    position: fixed;
    right: 0;
    top: 10%;
}

.card {
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    max-height: 270px;
}

.sub-images-section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.line {
    border: 1px solid grey;
}

hr {
    width: 100%;
}
